.svc-wait{
	background: url( ../img/wait.svg ) no-repeat center;
	background-size: contain;
	width: 25px;
	height: 10px;
	display: inline-block;
	margin: 0 auto;
}

.svc-views-count{
	display: block;
	width: 100%;
	margin: 0;
}